.my-footer {
    background: #15123C;
    padding: 20px 0;
    position: relative;

    @media (min-width:768px) {
        padding: 30px 0;
    }
    
    #btnScrolltoTop {
        display: flex;
        position: absolute;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-image: linear-gradient(to right, rgba(116, 150, 255, 1),rgba(93, 215, 208, 1));
        right: 30px;
        top:-23px;
        cursor: pointer;

        @media (min-width: 768px) {
            width: 70px;
            height: 70px;
            right: 100px;
            top: -35px;
        }

        i {
            margin: auto;
            color: #15123C;
            font-size :28px;

            @media (min-width: 768px) {
                font-size: 40px;
            }
        }
    }
    .footer-left {
        &__img {
            display: flex;
            justify-content: center;

            @media (min-width: 576px) {
                justify-content: unset;
            }

            img {
                width: 55px;
                padding: 15px 0;
            }
        }
        
        .footer-left__name {
            display: inline;
            background: -webkit-linear-gradient(45deg, rgba(19, 152, 233, 1), rgba(180, 241, 159, 1), rgba(245, 166, 35, 1));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h6 {
            color: white;
            margin:20px 0;
            font-size: 18px;
            font-weight: 400;

            a {
                color: rgba(245, 166, 35, 1);
                text-decoration: none;
            }
        }
        .footer-left__dev {
            font-style: oblique !important;
        }
        hr {
            height: 2px;
            background: -webkit-linear-gradient(45deg, rgba(128, 148, 255, 0.29), rgba(75, 229, 240, 0.9), rgba(128, 148, 255, 0.29));
            
            @media(min-width: 992px) {
                display: none;
            }
        }
    }
    .footer-right {

        .footer-right__contact {
            display: flex;
            justify-content: center;
            align-items: center;
            
            @media (min-width: 576px) {
                justify-content: unset;
            }

            @media (min-width: 1200px) {
                height: 85px;
            }
            h4 {
                margin-bottom: 20px;
                display: inline;
                background: -webkit-linear-gradient(45deg, rgba(19, 152, 233, 1), rgba(180, 241, 159, 1));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                @media (min-width: 1200px) {
                   margin-bottom: 0;
                }
            }
        }
        .footer-right__other {
            margin-bottom: 15px;

            i, a {
                color:white;
            }

            i {
                font-size: 24px;
                margin-right: 10px;
            }
            a {
                
                font-size: 18px;
                text-decoration: none;
            }
        }
    }
}