@mixin name() {
    font-family: K2D;
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    color:white;
}
.tech-container {
    width: 80%;
    margin:0 auto;
}
.techconner {
    margin-top: 50px;
    &-name {
        @include name;
        font-size:60px;
        height:min-content;
    }
    &-list {
        margin-top:55px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
    &-item {
        background-color: #15123C;
        width: 28.85%;
        min-height:541px;
        max-height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 3px solid #F5A623;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 21px 23px 20px 24px;
        transition: cubic-bezier(1, 0.82, 0.165, 1);
        position:relative;
        .ellipse {
            position:absolute;
            background-color: rgba(255, 255, 255, 0.2);
        }
        .ellipse1{
            width:198px;
            height:212px;
            top:27px;
            left:89px;
            filter:blur(60px);
        }
        .ellipse2{
            width:30px;
            height:30px;
            top:302px;
            left:50px;
            filter:blur(30px);
        }
        .ellipse3{
            width:50px;
            height:50px;
            top:463px;
            left:39px;
            filter: blur(50px);
        }
        .ellipse3{
            width:50px;
            height:50px;
            top:463px;
            left:306px;
            filter: blur(40px);
        }
    }
    &-photo img {
        width: 100%;
        height: 100%;
        transition: 0.3s ease-in;
    }
    &-item:hover {
        box-shadow: 10px 10px 10px rgba(245, 166, 35, 0.4);
    }

    &-title {
        font-weight: 600;
        font-size: 32px;
        color: #FFFFFF;
        text-align:center;
    }
    &-desc{
        font-family: Open Sans;
        font-size: 24px;
        text-align: justify;
        color: #FFFFFF;
    }
    &-btn {
        background: #F5A623;
        padding:9px 18px;
        box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        font-weight: 500;
        font-size: 18px;
        text-decoration: none;
        color: #3F3356;
        font-family:K2D;
        position:relative;
    }
    &-btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
        color: #3F3356;
    }
    &-btn:active {
        outline:none;
        transform: translateY(-1px);
        box-shadow: 0 0.5px 10px rgba(0, 0, 0, .2);
    }
    &-btn::after {
        content: "";
        display:inline-block;
        height:100%;
        width:100%;
        position:absolute;
        top:0;
        left:0;
        border-radius:10px;
        z-index:-1;
        transition:  all 1s ;
        background-color: #F5A623;
    }
    &-btn:hover::after{
        transform: scaleX(1.4) scaleY(1.5);
        opacity:0;
    }
}
//responsive for 1024px - tablet nằm ngang, chỉ thay đổi kích thước chữ, không thay đổi cấu trúc
@media screen and (max-width:1024px) {
    .techconner {
        &-name {
            font-size:32px;
        }
        &-title {
            font-size:24px;
        }
        &-desc{
            font-size: 18px;
        }
    }
}
//reponsive for 992 px - tablet
@media screen and (max-width:992px) {
    .techconner {
        &-list {
            margin-top:20px;
            flex-direction: column;
            align-items:center;
        }
        &-item {
            margin-bottom: 20px;
            width:69.76%;
        }
    }
}
@media screen and (max-width: 500px) {
    .tech-container {
        width:100%;
    }
    .techconner {
        &-name {
            font-size: 24px;
        }
        &-list {
            flex-direction: column;
            margin: 30px auto;
            padding: 0;
        }
        &-item {
            margin-bottom: 40px;
            width:69.76%;
            height:486px;
        }
        &-title {
            font-size:20px;
        }
        &-desc {
            font-size: 16px;
            text-align: center;
        }
        &-btn {
            font-size: 16px;
            padding: 9px 22px;
        }
    }
}