// Color
$background: #0e1643;
$white: #ffffff;
$yellow: #f5a623;
$gradient: linear-gradient(90deg, #7496ff 0%, #5dd7d0 100%);

// Text Size
// Desktop
$desktop_h1: 48px;
$destop_h2: 28px;
$destop_b1: 24px;
$destop_b2: 16px;
// Mobile
$mobile_h1: 40px;
$mobile_h2: 28px;
$mobile_h3: 24px;
$mobile_b1: 20px;
$mobile_b2: 16px;

@mixin h1_style {
    font-family: K2D;
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0 !important;
    font-size: 24px !important;
    font-weight: 700 !important;
    margin-top: 60px !important;
    @media (min-width: 576px) {
        font-size: 45px !important;
        font-weight: 800 !important;
        margin-top: 65px !important;
    }
    @media (min-width: 1200px) {
        font-weight: 800 !important;
        font-size: 45px !important;
        line-height: 80px !important;
    }
}

@mixin h2_style {
    font-family: K2D;
    font-size: 20px !important;
    font-weight: 700 !important;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 12px !important;
    color: white;
    @media (min-width: 576px) {
        font-size: 35px !important;
        font-weight: 600 !important;
        margin-top: 40px !important;
    }
    @media (min-width: 1200px) {
        font-size: 45px !important;
        font-weight: 600 !important;
        margin-top: 60px !important;
    }
}

@mixin h4_style {
    font-family: K2D;
    font-size: 16px !important;
    font-weight: 500 !important;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 13px !important;
    color: white;
    @media (min-width: 576px) {
        font-size: 20px !important;
        margin-top: 20px !important;
    }
    @media (min-width: 1200px) {
        font-size: 24px !important;
        margin-top: 30px !important;
    }
}
