// Color
$background: #0e1643;
$white: #fff;
$heading: #ffffff;
$heading2: #f5a623;
$heading3: linear-gradient(90deg, #7496ff 0%, #5dd7d0 100%);
$heading4: #b2afe1;
$headig6_navbar: #f42f54;
$body: #f4f4f4;
$body_inactive: #d0c9d6;
$on_button: #3f3356;

// Text Size
// Desktop
$desktop_h1: 45px;
$desktop_h2: 40px;
$desktop_h3: 32px;
$desktop_h4: 24px;
$desktop_b1: 18px;
$desktop_b2: 16px;
$desktop_sub: 24px;
// Mobile
$mobile_h1: 28px;
$mobile_h2: 24px;
$mobile_h3: 20px;
$mobile_b1: 16px;
