// Color
$background: #0E1643;
$heading: #FFFFFF;
$heading2: #F5A623;
$heading3: linear-gradient(90deg, #7496FF 0%, #5DD7D0 100%);
$heading4: #B2AFE1;
$headig6_navbar: #F42F54;
$body: #F4F4F4;
$body_inactive: #D0C9D6;
$on_button: #3F3356;

// Text Size
// Desktop
$desktop_h1: 45px;
$desktop_h2: 40px;
$desktop_h3: 32px;
$desktop_h4: 24px;
$desktop_b1: 18px;
$desktop_b2: 16px;
$desktop_sub: 24px;
// Mobile
$mobile_h1: 28px;
$mobile_h2: 24px;
$mobile_h3: 20px;
$mobile_b1: 16px;
