* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-style: normal;
}

body {
  background-color: #0E1643 !important;
  color: #FFFFFF;
}

.bcn__container {
  margin: 0 auto;
  max-width: 500px;
}

.bcn__name {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.bcn__time {
  margin: 0 16px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  border-radius: 10px;
  overflow: hidden;
}
.bcn__time div {
  padding: 6px 16px;
  margin-right: 10px;
  border-radius: 10px;
  position: relative;
  border: solid 4px transparent;
  background: #0E1643;
}
.bcn__time div::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(to right, #7496FF 0%, #5DD7D0 99.81%);
}
.bcn__time div p {
  display: block;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  background: -webkit-linear-gradient(#7496FF 0%, #5DD7D0 99.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  margin-top: 30px;
  position: relative;
}

.content-container {
  max-width: 500px;
}

.chairman {
  display: flex;
  align-items: center;
}
.chairman__img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #F5A623;
  padding-top: 3px;
  margin-left: 3.5%;
}
.chairman__img img {
  width: 80px;
  height: 80px;
  margin: auto auto;
  display: block;
}
.chairman__info {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.member {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.member__img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #F5A623;
  padding-top: 3px;
  margin-left: 26.4%;
}
.member__img img {
  width: 80px;
  height: 80px;
  margin: auto auto;
  display: block;
}
.member__info {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
}

.bar {
  position: absolute;
  margin-left: 12%;
  top: 90px;
}

.intro__container {
  max-width: 500px;
  margin: 70px 16px 0 16px;
}

.intro__title {
  font-size: 24px;
  font-weight: 700;
  color: #F5A623;
  text-align: center;
}
.intro__decs {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  text-align: justify;
}

.mission {
  margin-top: 60px;
  padding-top: 63px;
  padding-right: 33px;
  position: relative;
}
.mission__title {
  font-size: 20px;
  font-weight: 700;
  color: #F5A623;
}
.mission li {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  line-height: 30px;
  margin-left: 12.38%;
}
.mission__img {
  position: absolute;
  top: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.mission__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.robot {
  margin-top: 40px;
}
.robot img {
  display: block;
  margin: 0 auto;
}
