*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #0E1643;
}
row{
  width: 1305px;
}
.competition-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-right: 0;
  width: 1305px;
  margin: 0 auto;
}

 .competition-name{
   width: 100%;
   margin-bottom: 60px;
   margin-top: 84px;
   width: 1400px;
   padding-left: auto;
   padding-left: 0;
   padding-right: 0;
 }
 .competition-name h1{
  text-align: center;
   font-size: 45px;
   line-height: 28px;
   font-weight: 700;
   font-family: 'K2D', sans-serif;
   color: #fff;
 }
.owl-carousel {
  margin: 0 auto;
  width: 1400px;
  padding-left: 0;
  padding-right: 0;
}
.owl-stage-outer{
width: 1305px;
}
.owl-carousel:hover .owl-nav button.owl-prev, .owl-carousel:hover .owl-nav button.owl-next {
  display: block;
}

.owl-carousel .owl-item .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  -webkit-transform: scaleY(0.8);
          transform: scaleY(0.8);
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  width: 1000px;
}

.owl-carousel .owl-item .item img {
  width: 1000px !important;
  height: 500px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.owl-carousel .owl-item.active .item {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
          overflow: hidden;
}

.owl-carousel .owl-nav {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  display: none;
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
}

.owl-carousel .owl-nav button.owl-prev i, .owl-carousel .owl-nav button.owl-next i {
  font-size: 40px;
  color: white;
}

.owl-carousel .owl-dots .owl-dot span {
  background: #3F3356;
  border: 2px solid #7496FF;
  margin-top: 30px;
}

.owl-carousel .owl-dots .owl-dot.active span {
  width: 25px;
  background-image: -webkit-gradient(linear, left top, right top, from(#7496FF), to(#5DD7D0)) !important;
  background-image: linear-gradient(to right, #7496FF, #5DD7D0) !important;
  
}
@media (max-width: 576px) {
  .competition-name h1{
    width: 149px;
     font-size: 32px;
     margin-top: -36px;
     margin-bottom: 50px;
     margin-right: 145px;
     margin-left: 134px;
   }
   .competition-name{
    height: 28px;
  }


  .owl-carousel .owl-item .item img {
    width: 428px !important;
    height: 222px;
    border-top-right-radius: 10px;
  }
  .owl-carousel {
    margin: 0 auto;
    width: 428px !important;
    margin-top: -48px;
  }
  .owl-stage-outer{
  width: 428px;
  }
  row{
    width: 428px;
  }
  .competition-container {
    width: 428px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .owl-carousel .owl-item .item {
  
    border-radius: 10px;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition: all linear 1s;
    transition: all linear 1s;
    -webkit-filter: blur(1px);
            filter: blur(1px);
    width: 100%;
  }
  .owl-carousel .owl-item.active .item {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
            overflow: hidden;
  }
  .item img{
    align-items: flex-start;
    
  }
  .owl-carousel .owl-dots .owl-dot span {
    margin-top: 15px;
    margin: 0px;
    margin-right: 6.98px;
  }
  .owl-carousel .owl-dots .owl-dot.active span {
    width: 17.44px;
  margin: 0px;
  margin-right: 6.98px;
  margin-left: 6.98px; }
}
@media (min-width: 577px) and (max-width: 1024px) {

  .owl-carousel .owl-item .item img {
    width: 700px !important;
    height: 400px;
  }
  .owl-carousel {
    margin: 0 auto;
    width: 700px !important;
  }
  .owl-stage-outer{
  width: 700px;
  }
  row{
    width: 700px;
  }
  .competition-container {
    width: 700px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .owl-carousel .owl-item .item {
  
    border-radius: 10px;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition: all linear 1s;
    transition: all linear 1s;
    -webkit-filter: blur(1px);
            filter: blur(1px);
    width: 100%;
    
  }
  .owl-carousel .owl-item.active .item {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
            
  }
  .item img{
    align-items: flex-start;
    
  }
}  
  

/*# sourceMappingURL=style.css.map */