.competition-mobile {
    display:none;
}
@media screen and (max-width:800px) {
    .competition {
        display:none;
    }
    .competition-mobile {
        display:block;
    }
    .year_line {
        display:none;
    }
    .year_number {
        display:none;
    }
    body {
        margin: 0 auto;
        box-sizing: border-box;
        background-color: #0e1643 !important;
    }
    @mixin word($f-family:K2D, $f-weight:700, $f-size:24px) {
        font-family: $f-family;
        font-weight:$f-weight;
        font-size:$f-size;
        color: white;
    }
    .container {
        width:428px;
        margin: 0 auto;
        // background-color:yellowgreen;
    }
    .competition {
        height:113px;
        &_line {
            position:absolute;
            width:2px;
            height:calc(100% + 50px);
            top:12px;
            left:-40px;
            background-color: #A6A6A6;
        }
        &_point {
            position:absolute;
            top:0;
            left:-58px;
        }
        &_point-small-1{
            position:absolute;
            top:380px;
            left:-50px;
        }
        &_point-small-2 {
            position:absolute;
            top:950px;
            left:-50px;
        }
        &_line-vertical-1 {
            width:36px;
            height:1px;
            background-color: #A1DCFF;
            position:absolute;
            top:390px;
            left:-35px;
        }
        &_line-vertical-2 {
            width:36px;
            height:1px;
            background-color: #A1DCFF;
            position:absolute;
            top:960px;
            left:-35px;
        }
        &_timeline {
            margin-top: 50px;
        }
        &_title {
            @include word;
            text-align: center;
            padding-top:30px;
            padding-bottom: 30px;
        }
        &_year {
            margin-top: 10px;
            margin-left: 75px;
            position:relative;
            &-name {
                width:74px;
                @include word(K2D, 700px, 20px);
                text-shadow: 0px 4px 25px #0066FF;
                margin-bottom: -10px;
            }
            &-event {
                display:flex;
                flex-direction: column;
                width:310px;
                margin-top: 50px;
            }
            &-description {
                max-width:fit-content;
                min-width: 249px;
                display:flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                text-align:center;
                margin: 0 auto;
            }
        }
        &_status {
            @include word(K2D,500,18px);
            margin-bottom: 5px;
        }
        &_name {
            @include word(K2D,bold,20px);
            text-transform: uppercase;
            text-shadow: 0px 4px 25px #00FFF0;
            margin-bottom: 5px;
        }
        &_time {
            @include word(K2D,500,18px);
            margin-bottom: 5px;
        }
        &_picture {
            width:301px;
            height:429px;
            border: 2px solid #A1DCFF;
            border-radius: 10px;
            margin-top: 10px;
            img {
                object-fit: cover;
                width:100%;
                padding-left:10px;
                padding-top:10px;
            }
        }
    }
}