.competition_title {
    margin-top: 20px;
    margin-bottom: 45px;
    font-family: K2D;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color:$white;
    text-align:center;
}
