.competition {
    display: flex;
    .left {
        height: 550px;
        width: calc(50vw - 63px);
        // background-color: aqua;
        display:flex;
        justify-content: flex-end;
        align-items: center;
        .competition_desc {
            padding:25px 40px;
            border: 2px solid #A1DCFF;
            border-radius: 10px;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            @media only screen and (max-width:1024px) and (min-width:800px)
            {
                padding: 18px 30px;
            }
            .competition_status {
                font-family: "K2D";
                font-weight: 700;
                font-size: 24px;
                color:$white;
                @media only screen and (max-width:1024px) and (min-width:800px)
                {
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            .competition_name {
                font-family: 'K2D';
                font-weight: 700;
                font-size: 32px;
                color:$white;
                text-transform: uppercase;
                text-shadow: 0px 4px 25px #00FFF0;
                @media only screen and (max-width:1024px) and (min-width:800px)
                {
                    font-size: 28px;
                }
            }
            .competition_time {
                font-weight: 700;
                font-size: 24px;
                color:$white;
                @media only screen and (max-width:1024px) and (min-width:800px)
                {
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }
    }
    .midle {
        width: 126px;
        height: 550px;  
        position: relative; 
        .truckX {
            width: 120%;
            height: 2px;
            background-color: #A1DCFF;
            position:absolute;
            top: 50%;
            right:0%;
        }
        .truckY {
            width: 3px;
            height: 100%;
            background-color: $grey;
            position:absolute;
            right: 48.8%;
        }
        .round { 
            position:absolute;
            top:43%;
            left:20%;
        }
    }
    .right {
        height: 550px;
        width: calc(50vw - 63px);
        display:flex;
        align-items: center;
        .competition_image {
            border: 2px solid #A1DCFF;
            border-radius: 10px;
            padding-top:8px;
            padding-left:8px;
            width:330px;
            height:470px;
        }
    }
}