* {
    margin: 0;
    background-color: #0E1643;
}
body {
    display: flex;
    flex-direction: column;
    /* Link color variable containing RGB value */
    --link-color: (102, 153, 255)
}
.container-fluid {
    h1.text-center.mx-auto {
        font-family: 'K2D', sans-serif;
        color: #FFFFFF;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0px;
        margin-top: 60px;
        margin-bottom: 0;
        @media (min-width: 576px) {
            margin-top: 65px;
            font-size: 38px;
            font-weight: 800;
        }
        @media (min-width: 1200px) {
            margin-top: 70px;
            font-size: 45px;
            font-weight: 800;
        }
    }
    .introduce-content {
        margin-top: 15px;
        &__content {
            padding: 0 17px;
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0px;
            text-align: justify !important;
            color: #FFFFFF;
        }
        &__learn-more {
            padding-right: 17px;
            justify-content: flex-end;
            margin-top: 10px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0px;
            text-align: left;
            background: -webkit-linear-gradient(#8093FF, #66FFE5);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            font-family: Open Sans;        
            i {
                background: -webkit-linear-gradient(#8093FF, #66FFE5);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; 
                font-weight: 400;
            }   
            a:hover::after {
                content: "";
                display: block;
                // position: absolute;
                width: 100%;
              
                /* Adjust height and bottom values to work with selected font */
                height: .1em;
                bottom: .1em;
              
                /* Create gradient */
                background-image: linear-gradient(
                  to right,
                  transparent 0%,
                  rgba(102, 153, 255, .6) 30%,
                  rgba(102, 153, 255, .7) 50%,
                  rgba(102, 153, 255, .6) 70%,
                  transparent 100%
                );
              
                /* Set-up fade-in animation */
                opacity: 0;
                animation: fadeIn 400ms ease-out forwards;
            }
              
              /* Fade-in animation */
              @keyframes fadeIn {
                100% {
                  opacity: 1;
                }
                }
        }      
        &__video {
            padding: 0 16px;
            img {
                max-width: 100%;
                justify-content: center;
                align-items: center;
                margin-top: 60px;
            }
        }    
        @media (min-width: 576px) {
            margin-top: 40px;
            &__content {
                padding: 0 0 0 40px;
                font-size: 17px;
            }
            &__learn-more {
                padding: 0;
                margin-top: 95px;
                font-size: 17px;
            }      
            &__video {
                img {
                    margin-top: 0px;
                }
            }    
        }
        @media (min-width: 1200px) {
            margin-top: 60px;
            &__content {
                padding: 0 0 0 70px;
                font-size: 18px;
            }
            &__learn-more {
                padding: 0;
                margin-top: 95px;
                font-size: 18px;
            }      
            &__video {
                img {
                    margin-top: 0px;
                }
            }          
        }
    }
}