.container-banner {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: 576px) {
        width: 100%;
    }

    @media (min-width: 1200px) {
        width: calc(100% - 253px);
        margin: 0 auto;
    }

    .header-name {
        font-family: K2D;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 28px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        margin-top: 30px;
        margin-bottom: 30px;

        @media (min-width: 576px) {
            font-size: 32px;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        @media (min-width:1200px) {
            font-size: 60px;
            line-height: 28px;
            margin-bottom: 61px;
        }
    }

    .img-banner {
        img {
            width: 100%;
            height: 305.08px;
            object-fit: cover;
            border-radius: 10px;

            @media (min-width: 576px) {
                height: 400px;
            }

            @media (min-width: 1200px) {
                height: 732px;
            }
        }
    }
}

.container-content {
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 54px;

    @media (min-width: 576px) {
        margin-top: 65px;
    }

    .history,
    .vision,
    .mission {
        display: none;
    }

    @media (min-width: 1200px) {
        width: calc(100% - 278px);

        .history-mobile,
        .mission-mobile,
        .vision-mobile {
            display: none;
        }

        .history,
        .mission,
        .vision {
            position: relative;
            width: calc(100% - 190px);
            height: 643px;
            border-radius: 5px;
            border: 2px solid #F5A623;
            margin-top: 40px;
            display: flex;
            align-items: center;

            .border-history,
            .border-vision,
            .border-mission {
                width: 50%;
                padding: 0 9px;

                h1 {
                    font-family: K2D;
                    font-weight: bold;
                    margin-top: 20px;
                    color: #F5A623;
                    line-height: 28px;
                    font-size: 45px;
                }

                p {
                    font-family: Open Sans;
                    line-height: 35px;
                    font-size: 20px;
                    align-items: center;
                    text-align: justify;
                    color: #FFFFFF;
                    margin-top: 30px;
                }
            }

            .img-cover {
                position: absolute;
                right: -195px;
                top: 71px;

                img {
                    width: 586px;
                    height: 500px;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
        }

        .ImgInLeft {
            width: 100%;

            .vision {
                float: right;
                margin-bottom: 30px;

                .div-empty {
                    width: 50%;
                }

                .border-vision {
                    margin: 0;
                    padding: 0 30px 0 0;


                    h1 {
                        display: flex;
                        justify-content: flex-end;
                    }
                }

                .img-cover {
                    width: 690px;
                    height: 500px;
                    left: -191px;

                }
            }
        }
    }
    @media (min-width: 1400px) {
        width: calc(100% - 247px);
        .history,
        .mission,
        .vision { 
            .border-history,
            .border-vision,
            .border-mission { 
                padding: 0 30px;
            }
            .img-cover {
                img {
                    width: 690px;
                }
            }
        }

    }

    .content-name {
        width: 100%;
        font-family: K2D;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 35px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 37px;

        @media (min-width: 576px) {
            font-size: 40px;
            margin-bottom: 40px;
            line-height: 40px;
        }

        @media (min-width: 1200px) {
            font-size: 60px;
            line-height: 78px;
        }
    }

    .history-mobile,
    .vision-mobile,
    .mission-mobile {

        .border-history-mobile,
        .border-vision-mobile,
        .border-mission-mobile {
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            border: 2px solid #F5A623;
            width: calc(100% - 60px);
            margin: 0 auto;
            text-align: center;

            @media (min-width: 576px) {
                width: calc(100% - 230px);
            }

            h1 {
                font-family: K2D;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 28px;
                color: #F5A623;
                margin-bottom: 0;
                margin-top: 21px;

                @media (min-width: 576px) {
                    font-size: 25px;
                }
            }

            .img-cover-mobile {
                img {
                    width: 262px;
                    height: 154px;
                    border-radius: 10px;
                    margin-top: 30px;
                    margin-bottom: 45px;
                    padding-left: 5px;
                    object-fit: cover;

                    @media (min-width: 576px) {
                        width: 400px;
                        height: 200px;
                    }
                }
            }

            p {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 25px;
                text-align: justify;
                color: #FFFFFF;
                padding: 0 25px;

                @media (min-width: 576px) {
                    font-size: 20px;
                    padding: 0 70px;
                }
            }
        }

        .border-vision-mobile {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}

.container-achievement {
    width: calc(100% - 65px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    .achievement-name {
        font-family: K2D;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        align-items: center;
        text-align: center;
        color: #F5A623;
        margin-bottom: 30px;

        @media (min-width: 576px) {
            font-size: 30px;
        }
    }

    .category-achievement {
        p {
            font-family: K2D;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            background: -webkit-linear-gradient(#8093FF, #66FFE5);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @media (min-width: 576px) {
                font-size: 22px;
            }
        }

        h1 {
            font-family: K2D;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: #FFFFFF;

            @media (min-width: 576px) {
                font-size: 22px;
            }
        }

        .achievement-communication,
        .achievement-workshop {
            h1 {
                width: calc(100% + 30px);
                padding-right: 15px;
            }

            p {
                margin-top: 10px;
                margin-bottom: 15px;
            }
        }

        .achievement-communication {
            img {
                height: 80px;
                object-fit: cover;
            }
        }
    }
}
