.title {
    text-align: center;
    font-size: 24px;
    font-family: K2D;
    font-weight: 700;
    color: $white;
    margin: 90px 0 20px 0;

    @media only screen and (min-width: 1200px) {
        font-weight: 800;
        font-size: 45px;
        margin: 120px 0 20px 0;
    }
}