.title {
    text-align: center;
    font-size: $mobile_h2;
    font-family: K2D;
    font-weight: bold;
    color: white;
    margin: 26px 0 30px 0;

    @media only screen and (min-width: 1200px) {
        font-size: 60px;
    }
}