.container-aboutclb__banner {
    width: 1300px;
    height: 873.97px;
    display: flex;
    margin: 0 auto;

    @media (min-width:481px) and (max-width : 1024px) {
        width: 668px;
        height: 500px;
    }

    @media (max-width:480px) {
        position: relative;
        width: 390px;
        height: 306px;
    }

    .aboutclb-name-banner {
        width: 736px;
        height: 81px;
        color: #FFFFFF;
        font-family: K2D;
        font-style: normal;
        font-weight: bold;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 60px;
        line-height: 28px;
        margin-left: 300px;
        margin-top: 30px;
        margin-bottom: 50px;

        @media (min-width:481px) and (max-width : 1024px) {
            width: 540px;
            height: 65px;
            font-size: 40px;
            line-height: 38px;
            margin-left: 100px;
            margin-top: 30px;
            margin-bottom: 50px;
        }

        @media (max-width:480px) {
            color: #FFFFFF;
            position: absolute;
            width: 350px;
            height: 35px;
            left: 20px;
            font-size: 28px;
            line-height: 28px;
            margin: 0;
        }
    }

    img {
        width: 100%;
        height: 731.97px;
        object-fit: cover;
        border-radius: 10px;

        @media (min-width:481px) and (max-width : 1024px) {
            width: 100%;
            height: 100%;
        }

        @media (max-width:480px) {
            position: absolute;
            width: 390px;
            height: 241px;
            left: 0px;
            top: 70px;
        }
    }
}

.container-aboutclb__content {
    width: 1274px;
    height: 2195px;
    position: relative;
    margin: 0 auto;

    @media (min-width:481px) and (max-width : 1024px) {
        width: 600px;
        height: 2300px;
    }

    @media (max-width:480px) {
        width: 390px;
        height: 1872px;
    }

    .content-aboutclb {
        h3 {
            font-family: K2D;
            font-style: normal;
            font-weight: bold;
            font-size: 45px;
            line-height: 28px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #F5A623;
        }

        p {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 35px;
            /* or 156% */

            display: flex;
            align-items: center;
            text-align: justify;

            color: #FFFFFF;
        }

        h3 {
            @media (min-width:481px) and (max-width : 1024px) {

                font-size: 30px;
                line-height: 28px;
            }
        }

        p {
            @media (min-width:481px) and (max-width : 1024px) {

                font-size: 20px;
                line-height: 25px;
                /* or 156% */

            }
        }

        h3 {
            @media (max-width:480px) {

                font-size: 20px;
                line-height: 28px;
            }
        }

        p {
            @media (max-width:480px) {

                font-size: 16px;
                line-height: 25px;
                /* or 156% */

            }
        }
    }

    .aboutclb-name-content {
        position: absolute;
        width: 1010px;
        height: 161px;
        font-family: K2D;
        font-style: normal;
        font-weight: bold;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 60px;
        line-height: 78px;
        color: #FFFFFF;
        margin-top: 50px;
        margin-left: 300px;

        @media (min-width:481px) and (max-width : 1024px) {

            width: 500px;
            height: 100px;
            font-size: 40px;
            line-height: 48px;
            top: 190px;
            left: 70px;
            margin: 0;

        }

        @media (max-width:480px) {

            width: 350px;
            height: 64px;
            top: 60px;
            left: 22px;
            margin: 0;
            font-size: 28px;
            line-height: 35px;

        }
    }

    .hictory {
        position: relative;
        width: 1262px;
        height: 618px;

        @media (min-width:481px) and (max-width : 1024px) {
            width: 600px;
            height: 618px;
        }

        @media (max-width:480px) {
            width: 338px;
            height: 458px;
        }

        .first-rectangle {
            position: absolute;
            width: calc(100% - 170px);
            height: 100%;
            top: 260px;
            left: -5px;

            @media (min-width:481px) and (max-width : 1024px) {
                width: calc(100% - 100px);
                height: calc(100% - 80px);
                top: 350px;
                left: 60px;
            }

            @media (max-width:480px) {
                width: 100%;
                height: 100%;
                top: 170px;
                left: 25px;
            }
        }

        .hictory-content {
            h3 {
                position: absolute;
                width: 382px;
                height: 28px;
                top: 500px;
                left: 80px;
            }

            p {
                position: absolute;
                width: 420px;
                height: 164px;
                top: 580px;
                left: 80px;
            }

            h3 {
                @media (min-width:481px) and (max-width : 1024px) {
                    position: absolute;
                    width: 300px;
                    height: 28px;
                    top: 400px;
                    left: 180px;
                }
            }

            p {
                @media (min-width:481px) and (max-width : 1024px) {
                    position: absolute;
                    width: 350px;
                    height: 164px;
                    top: 700px;
                    left: 130px;
                }
            }

            h3 {
                @media (max-width:480px) {
                    width: 205px;
                    height: 16px;
                    top: 190px;
                    left: 110px;
                }
            }

            p {
                @media (max-width:480px) {
                    width: 265px;
                    height: 161px;
                    top: 410px;
                    left: 60px;
                }
            }
        }

        .pic-hictory {
            position: absolute;
            object-fit: cover;
            width: 690px;
            height: 500px;
            top: 350px;
            left: 580px;
            border-radius: 10px;

            @media (min-width:481px) and (max-width : 1024px) {
                width: 400px;
                height: 200px;
                top: 460px;
                left: 110px;
            }

            @media (max-width:480px) {
                width: 262px;
                height: 154px;
                top: 240px;
                left: 60px;

            }
        }
    }

    .vision {
        position: relative;
        width: 1268px;
        height: 618px;

        @media (min-width:481px) and (max-width : 1024px) {
            width: 600px;
            height: 618px;
        }

        @media (max-width:480px) {

            width: 338px;
            height: 572px;

        }

        .second-rectangle {
            position: absolute;
            width: calc(100% - 188px);
            height: 100%;
            top: 300px;
            left: 193px;

            @media (min-width:481px) and (max-width : 1024px) {
                width: calc(100% - 100px);
                height: 100%;
                top: 300px;
                left: 60px;
            }

            @media (max-width:480px) {

                width: 100%;
                height: 100%;
                top: 185px;
                left: 25px;
            }
        }

        .vision-content {
            h3 {
                position: absolute;
                width: 382px;
                height: 28px;
                top: 450px;
                left: 1000px;
            }

            p {
                position: absolute;
                width: 420px;
                height: 164px;
                top: 580px;
                left: 765px;
            }

            p {
                @media (min-width:481px) and (max-width : 1024px) {
                    position: absolute;
                    width: 350px;
                    height: 164px;
                    top: 680px;
                    left: 130px;
                }
            }

            h3 {
                @media (min-width:481px) and (max-width : 1024px) {
                    position: absolute;
                    width: 300px;
                    height: 28px;
                    top: 350px;
                    left: 250px;
                }
            }

            h3 {
                @media (max-width:480px) {
                    position: absolute;
                    width: 138px;
                    height: 16px;
                    top: 200px;
                    left: 160px;
                }
            }

            p {
                @media (max-width:480px) {
                    position: absolute;
                    width: 265px;
                    height: 265px;
                    top: 430px;
                    left: 60px;
                }
            }
        }

        .pic-vision {
            position: absolute;
            object-fit: cover;
            width: 690px;
            height: 500px;
            top: 360px;
            border-radius: 10px;

            @media (min-width:481px) and (max-width : 1024px) {
                width: 400px;
                height: 200px;
                top: 400px;
                left: 110px;
            }

            @media (max-width:480px) {
                width: 264px;
                height: 154px;
                top: 240px;
                left: 60px;

            }
        }
    }

    .mission {
        position: relative;
        width: 1264px;
        height: 618px;

        @media (min-width:481px) and (max-width : 1024px) {
            width: 600px;
            height: 758px;
        }

        @media (max-width:480px) {

            width: 338px;
            height: 688px;

        }

        .third-rectangle {
            position: absolute;
            width: calc(100% - 184px);
            height: 100%;
            left: -4px;
            top: 350px;

            @media (min-width:481px) and (max-width : 1024px) {
                width: calc(100% - 100px);
                height: 100%;
                top: 330px;
                left: 60px;
            }

            @media (max-width:480px) {

                width: 100%;
                height: 100%;
                top: 200px;
                left: 25px;
            }
        }

        .mission-content {
            h3 {
                position: absolute;
                width: 382px;
                height: 28px;
                top: 400px;
                left: 90px;
            }

            p {
                position: absolute;
                width: 420px;
                height: 164px;
                top: 580px;
                left: 90px;
                font-size: 20px;
                line-height: 30px;
            }

            h3 {
                @media (min-width:481px) and (max-width : 1024px) {
                    position: absolute;
                    width: 382px;
                    height: 28px;
                    top: 350px;
                    left: 240px;
                }
            }

            p {
                @media (min-width:481px) and (max-width : 1024px) {
                    position: absolute;
                    width: 420px;
                    height: 164px;
                    top: 770px;
                    left: 100px;
                    font-size: 20px;
                    line-height: 30px;
                }
            }

            h3 {
                @media (max-width:480px) {
                    position: absolute;
                    width: 138px;
                    height: 16px;
                    top: 220px;
                    left: 160px;
                }
            }

            p {
                @media (max-width:480px) {
                    position: absolute;
                    width: 265px;
                    height: 395px;
                    top: 450px;
                    left: 60px;
                    font-size: 16px;
                    line-height: 25px;
                }
            }
        }

        .pic-mission {
            @media (min-width:481px) and (max-width : 1024px) {
                width: 400px;
                height: 200px;
                left: 110px;
                top: 420px;
            }

            position: absolute;
            width: 690px;
            height: 500px;
            object-fit: cover;
            left: 590px;
            top: 410px;
            border-radius: 10px;

            @media (max-width:480px) {
                width: 264px;
                height: 154px;
                top: 260px;
                left: 60px;
            }
        }
    }
}

.container-aboutclb__achievement {
    position: relative;
    width: 1032px;
    height: 549px;
    margin: 0 auto;

    @media (min-width:481px) and (max-width : 1024px) {
        width: 600px;
        height: 1300px;
    }

    @media (max-width:480px) {
        width: 380px;
        height: 775px;
        margin: 0;
    }

    .achievement-name {
        h3 {
            position: absolute;
            width: 708px;
            height: 48px;
            top: 50px;
            left: 160px;
            font-size: 60px;
            line-height: 30px;
            font-family: K2D;
            display: flex;
            align-items: center;
            text-align: center;

            /* Components/Orange */

            color: #F5A623;
            font-style: normal;
            font-weight: bold;

            @media (min-width:481px) and (max-width : 1024px) {
                width: 420px;
                height: 30px;
                font-size: 35px;
                line-height: 28px;
                top: 90px;
                left: 100px;
            }

            @media (max-width:480px) {
                width: 320px;
                height: 23px;
                top: 100px;
                left: 55px;
                font-size: 24px;
                line-height: 28px;
                /* or 117% */
            }
        }
    }

    .achievement-year {
        position: absolute;
        width: 253px;
        height: 190.48px;
        left: 1px;
        top: 170px;

        p {
            width: 45px;
            height: 38px;
            font-family: K2D;
            font-style: normal;
            font-weight: bold;
            font-size: 55px;
            line-height: 28px;
            color: rgba(102, 255, 229, 1);
            margin-left: 110px;
            margin-top: 15px;

            display: flex;
            align-items: center;
            text-align: center;

        }

        h1 {
            width: 257px;
            height: 31px;
            font-family: K2D;
            font-style: normal;
            font-weight: normal;
            font-size: 38px;
            line-height: 22px;
            color: #FFFFFF;
            margin-top: 30px;
            display: flex;
            align-items: center;
            text-align: center;


        }

        img {
            margin-left: 70px;

        }

        @media (min-width:481px) and (max-width : 1024px) {
            width: 253px;
            height: 190.48px;
            left: 1px;
            top: 150px;

            p {
                width: 45px;
                height: 38px;

                font-size: 55px;
                line-height: 28px;
                margin-left: 110px;
                margin-top: 15px;

            }

            h1 {
                width: 257px;
                height: 31px;

                font-size: 38px;
                line-height: 22px;
                color: #FFFFFF;
                margin-top: 30px;


            }

            img {
                margin-left: 70px;

            }
        }

        @media (max-width: 480px) {
            width: 215px;
            height: 118px;
            top: 150px;
            left: 45px;

            img {
                width: 70px;
                height: 57px;
                margin-left: 20px;
            }

            p {
                position: absolute;
                width: 18px;
                height: 15px;
                left: 50px;
                top: 60px;
                margin: 0;
                font-size: 18px;
                line-height: 28px;

            }

            h1 {
                position: absolute;
                width: 100%;
                height: 16px;
                top: 90px;
                left: 1px;
                font-size: 18px;
                line-height: 28px;
                margin: 0;

            }
        }

    }

    .achievement-member {
        position: absolute;
        width: 202px;
        height: 189.39px;
        left: 420px;
        top: 171px;

        p {
            width: 45px;
            height: 38px;
            font-family: K2D;
            font-style: normal;
            font-weight: bold;
            font-size: 55px;
            line-height: 28px;
            color: rgba(102, 255, 229, 1);
            margin-left: 63px;
            margin-top: 15px;
            display: flex;
            align-items: center;
            text-align: center;

        }

        h1 {
            width: 257px;
            height: 31px;
            font-family: K2D;
            font-style: normal;
            font-weight: normal;
            font-size: 38px;
            line-height: 22px;
            color: #FFFFFF;
            margin-top: 30px;
            display: flex;
            align-items: center;
            text-align: center;

        }

        img {
            margin-left: 45px;

        }

        @media (min-width:481px) and (max-width : 1024px) {
            width: 202px;
            height: 189.39px;
            left: 400px;
            top: 153px;
        }

        @media (max-width: 480px) {
            width: 130px;
            height: 118px;
            top: 150px;
            left: 250px;

            img {
                width: 70px;
                height: 57px;
                margin-left: 15px;
            }

            p {
                position: absolute;
                width: 18px;
                height: 15px;
                left: 40px;
                top: 60px;
                margin: 0;
                font-size: 18px;
                line-height: 28px;


            }

            h1 {
                position: absolute;
                width: 101px;
                height: 16px;
                top: 90px;
                left: 1px;
                margin: 0;


                font-size: 18px;
                line-height: 28px;


            }
        }

    }

    .achievement-oldmember {
        position: absolute;
        width: 264px;
        height: 188.48px;
        left: 811px;
        top: 171px;

        p {
            width: 45px;
            height: 38px;
            font-family: K2D;
            font-style: normal;
            font-weight: bold;
            font-size: 55px;
            line-height: 28px;
            color: rgba(102, 255, 229, 1);
            margin-left: 66px;
            margin-top: 15px;
            display: flex;
            align-items: center;
            text-align: center;

        }

        h1 {
            width: 266px;
            height: 31px;
            font-family: K2D;
            font-style: normal;
            font-weight: normal;
            font-size: 38px;
            line-height: 22px;
            color: #FFFFFF;
            margin-top: 30px;
            display: flex;
            align-items: center;
            text-align: center;

        }

        img {
            margin-left: 70px;

        }

        @media (min-width:481px) and (max-width : 1024px) {
            width: 264px;
            height: 188.48px;
            left: 1px;
            top: 640px;
        }

        @media (max-width: 480px) {
            width: 147px;
            height: 117px;
            top: 270px;
            left: 45px;

            img {
                width: 70px;
                height: 57px;
                margin-left: 20px;
            }

            p {
                position: absolute;
                width: 57px;
                height: 13px;
                left: 40px;
                top: 60px;

                margin: 0;
                font-size: 18px;
                line-height: 28px;


            }

            h1 {
                position: absolute;
                width: 100%;
                height: 15px;
                top: 90px;
                left: 1px;
                margin: 0;

                font-size: 18px;
                line-height: 28px;



            }
        }

    }

    .achievement-workshop {
        position: absolute;
        width: 382px;
        height: 193.48px;
        top: 400px;
        left: 10px;

        p {
            width: 45px;
            height: 38px;
            font-family: K2D;
            font-style: normal;
            font-weight: bold;
            font-size: 55px;
            line-height: 28px;
            color: rgba(102, 255, 229, 1);
            margin-left: 99px;
            margin-top: 15px;
            display: flex;
            align-items: center;
            text-align: center;

        }

        h1 {
            width: 380px;
            height: 31px;
            font-family: K2D;
            font-style: normal;
            font-weight: normal;
            font-size: 38px;
            line-height: 22px;
            color: #FFFFFF;
            margin-top: 30px;
            margin-left: -50px;
            display: flex;
            align-items: center;
            text-align: center;

        }

        img {
            margin-left: 70px;

        }

        @media (max-width: 480px) {
            width: 180px;
            height: 116.96px;
            top: 400px;
            left: 45px;

            img {
                width: 70px;
                height: 57px;
                margin-left: 20px;
            }

            p {
                position: absolute;
                width: 26px;
                height: 15px;
                left: 50px;
                top: 63px;
                margin: 0;



                font-size: 18px;
                line-height: 28px;

            }

            h1 {
                position: absolute;
                width: 100%;
                height: 15px;
                top: 90px;
                left: -25px;
                margin: 0;

                font-size: 18px;
                line-height: 28px;
            }
        }

    }

    .achievement-competition {
        position: absolute;
        width: 147px;
        height: 195.48px;
        top: 400px;
        left: 400px;

        p {
            width: 45px;
            height: 38px;
            font-family: K2D;
            font-style: normal;
            font-weight: bold;
            font-size: 55px;
            line-height: 28px;
            color: rgba(102, 255, 229, 1);
            margin-left: 108px;
            margin-top: 10px;
            display: flex;
            align-items: center;
            text-align: center;

        }

        h1 {
            width: 150px;
            height: 31px;
            font-family: K2D;
            font-style: normal;
            font-weight: normal;
            font-size: 38px;
            line-height: 22px;
            color: #FFFFFF;
            margin-top: 25px;
            margin-left: 50px;
            display: flex;
            align-items: center;
            text-align: center;

        }

        img {
            margin-left: 70px;

        }
        @media (min-width:481px) and (max-width : 1024px) {
            width: 147px;
        height: 195.48px;
        top: 400px;
        left: 380px;
        }
        @media (max-width: 480px) {
            width: 127px;
            height: 112.04px;
            top: 400px;
            left: 240px;

            img {
                width: 70px;
                height: 57px;
                margin-left: 20px;
            }

            p {
                position: absolute;
                width: 70px;
                height: 57px;
                left: 50px;
                top: 40px;
                margin: 0;



                font-size: 18px;
                line-height: 28px;



            }

            h1 {
                position: absolute;
                width: 100%;
                height: 15px;
                top: 90px;
                left: 20px;
                margin: 0;



                font-size: 18px;
                line-height: 28px;
            }
        }

    }

    .achievement-communication {
        position: absolute;
        width: 329px;
        height: 196px;
        top: 400px;
        left: 830px;

        p {
            width: 45px;
            height: 38px;
            font-family: K2D;
            font-style: normal;
            font-weight: bold;
            font-size: 55px;
            line-height: 28px;
            color: rgba(102, 255, 229, 1);
            margin-left: 108px;
            margin-top: 10px;
            display: flex;
            align-items: center;
            text-align: center;

        }

        h1 {
            width: 350px;
            height: 31px;
            font-family: K2D;
            font-style: normal;
            font-weight: normal;
            font-size: 38px;
            line-height: 22px;
            color: #FFFFFF;
            margin-top: 33px;
            margin-left: -25px;
            display: flex;
            align-items: center;
            text-align: center;

        }

        img {
            margin-left: 70px;
            width: 100px;
            height: 81.48px;

        }

        @media (min-width:481px) and (max-width : 1024px) {
            width: 270px;
            height: 196px;
            top: 653px;
            left: 370px;
            h1 {
                width: 320px;
            }
        }

        @media (max-width: 480px) {
            width: 150px;
            height: 112.04px;
            top: 270px;
            left: 240px;

            img {
                width: 70px;
                height: 57px;
                margin-left: 20px;
            }

            p {
                position: absolute;
                width: 70px;
                height: 57px;
                left: 50px;
                top: 40px;
                margin: 0;
                font-size: 18px;
                line-height: 28px;



            }

            h1 {
                position: absolute;
                width: 170px;
                height: 15px;
                top: 90px;
                left: -20px;
                margin: 0;



                font-size: 18px;
                line-height: 28px;
            }
        }
    }
}
