* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title-hr {
    width: calc(100% - 15px);
    margin: 0 auto !important;

    h1 {
        font-family: 'K2D';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
line-height: 40px;
        text-align: center;
        justify-content: center;
        color: #FFFFFF;
    }
}
h6 {
    margin: 0;
    font-size: 16px;
  background: -webkit-linear-gradient(#7496FF, #5DD7D0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.term {
    display:none;
}
.list-member-mobile {
    position: relative;
    display: block;

    .line1,
    .line2,
    .line3,
    .line4,
    .line5,
    .line6,
    .line7,
    .line8,
    .line9,
    .line10,
    .line11,
    .line12 {
        width: 112px;
        height: 28px;
    }

    .line1 {
        top: 100px;
        left: 37px;
        position: absolute;
    }

    .line2 {
        position: absolute;
        top: 153px;
        left: 37px;
    }

    .line3 {
        position: absolute;
        top: 253px;
        left: 37px;
    }

    .line4 {
        position: absolute;
        top: 353px;
        left: 37px;
    }

    .line5 {
        position: absolute;
        top: 453px;
        left: 37px;
    }

    .line6 {
        position: absolute;
        top: 545px;
        left: 37px;
    }

    .line7 {
        position: absolute;
        top: 641px;
        left: 37px;
    }

    .line8 {
        position: absolute;
        top: 736px;
        left: 37px;
    }

    .line9 {
        position: absolute;
        top: 836px;
        left: 37px;
    }

    .line10 {
        position: absolute;
        top: 936px;
        left: 37px;
    }

    .line11 {
        position: absolute;
        top: 1036px;
        left: 37px;
    }

    .line12 {
        position: absolute;
        top: 1136px;
        left: 37px;
    }

    .member-item-main {
        margin: 0 auto;
        margin-bottom: 25px !important;
        width: calc(100% - 5px);

        .member-item__circle--main-mobile {
            padding-left: 0;

            img {
                width: 90px;
                height: 90px;
                object-fit: cover;
                padding: 2px;
                border: 2px solid #F5A623;
                border-radius: 50%;
            }
        }

        .member-item__name-mobile {
            display: flex;
            padding-left: 0;

            h3 {
                color: #fff;
                display: flex;
                align-items: center;
                text-align: center;

                font-family: K2D;
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;

            }
        }
    }

    .member-item-second {
        margin: 0 auto;
        width: calc(100% - 15px);
        margin-bottom: 25px !important;

        .member-item__circle--second-mobile {
            padding-right: 0;
            padding-left: 31px;

            img {
                width: 90px;
                height: 90px;
                object-fit: cover;
                padding: 2px;
                border: 2px solid #F5A623;
                border-radius: 50%;
            }
        }

        .member-item__name-mobile {
            padding-right: 0;
            padding-left: 34px;
            display: flex;

            p {
                display: flex;
                align-items: center;
                color: #fff;
                font-family: K2D;
                margin-bottom: 0;
                font-size: 18px;
                font-weight: 500;
                line-height: 23px;


            }
        }
    }
    .member-item {
        margin: 0 auto;
        margin-bottom: 25px !important;
        width: calc(100% - 15px);

        .member-item__circle-mobile {
            padding-left: 0;
            padding-right: 25px;

            img {
                width: 72px;
                height: 72px;
                object-fit: cover;
                padding: 2px;
                border: 2px solid #F5A623;
                border-radius: 50%;
            }
        }

        .member-item__name-mobile {
            padding: 0;
            display: flex;

            p {
                color: #fff;
                margin-bottom: 0;
                display: flex;
                align-items: center;
                text-align: center;
                font-family: K2D;
                font-size: 18px;
                font-weight: 500;
                line-height: 23px;
                justify-content: center;

            }
        }
    }
}
.container-item {
    display: none;
}
.container-content-introduce, .container-benefit{
    display: none !important;
}
.task-of-clb__mobile {
    padding-left: 32.5px;
    width: calc(100% - 10px);
    margin: 123px auto 0;
    margin-top: 123px !important;
    position: relative;
   h2 {
    font-family: 'K2D';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #F5A623;
   }
   ul {
    padding-left: 33.5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    color: #FFFFFF;
   }
   .frame-task__mobile{
    
       img {
           width: 385px;
           height: 339px;
       }
      position: absolute;
      top: -33%;
      left: 1%;
      @media (min-width: 391px) and (max-width: 576px) {
        left: 2%;
        img {
            width: 390px;
            height: 339px;
        }
    }
   }
}
.position-required__mobile {
    padding-left: 32.5px;
    width: calc(100% - 10px);
    margin: 123px auto 0;
    margin-top: 80px !important;
    position: relative;
    @media (min-width: 391px) and (max-width: 576px) {
        margin-top: 106px !important;
    }
    h2 {
        font-family: 'K2D';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: justify;
        color: #F5A623;
    }
    ul {
        padding-left: 33.5px;
        font-family: 'K2D';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        text-align: justify;
        color: #FFFFFF;
    }
    .frame-position__mobile {
        position: absolute;
        top: -5%;
    left: 3%;
        img {
            width: 365px;
            height: 417px;
        }
        @media (min-width: 391px) and (max-width: 576px) {
            img {
                width: 390px;
                height: 417px;
            }
        }
    }
}
.container-benefit__mobile {
    padding-left: 32.5px;
    width: calc(100% - 10px);
    margin: 0 auto ;
    margin-top: 80px !important;
    position: relative;
    h2 {
        font-family: 'K2D';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: justify;
        color: #F5A623;
        
    }
    ul {
        padding-left: 33.5px;
        font-family: 'K2D';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
text-align: justify;
color: #FFFFFF;
    }
    .image-benefit__mobile {
        display: flex;
        justify-content: center;
    }
    .frame-benefit__mobile {
        img {
            width: 374px;
            height: 990px;
        }
        position: absolute;
        left: 3%;
            top: -1%;
            @media (min-width: 391px) and (max-width: 576px) {

                img {
                    width: 390px;
                    height: 990px;
                }
            }
    }
}
.introduce-title {
    margin: 0 auto !important;
    h2 {
        font-family: 'K2D';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
justify-content: center;
color: #F5A623;
    }
}
.introduce-content {
    width: calc(100% - 15px);
    margin: 0 auto !important;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: justify;
color: #FFFFFF;
}
@media (min-width: 1200px) {
    .cc-navbar-mobile {
        display: none !important;
    }
    .task-of-clb__mobile {
        display: none !important;
    }
    .position-required__mobile {
        display: none !important;
    }
    .list-member-mobile {
        display: none;
    }
    .container-benefit__mobile {
        display: none !important;
    }
    .row {
        max-width: 1298px;
    }.title-hr {
        width: calc(100% - 15px);
        margin: 0 auto !important;
    
        h1 {
            font-family: 'K2D';
            font-style: normal;
            font-weight: 700;
            font-size: 60px;
            line-height: 80px;
            text-align: center;
            justify-content: center;
            color: #FFFFFF;
        }
    }
    
    .term {
        float: right;
        margin-right: 110px;
        margin-bottom: 20px;
        position: relative;
        display: block;
        .container-term {
            width: 177px;
    display: flex;
        border: solid 1px transparent;
        border-radius: 10px;
        background-image: linear-gradient(#0E1643, #0E1643), radial-gradient(circle at top left, #7496FF, #5DD7D0);
        background-origin: border-box;
        background-clip: content-box, border-box;
        h2 {
            padding: 5px;
          font-family: 'K2D';
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 28px;
          background: linear-gradient(90deg, #7496FF 0%, #5DD7D0 99.81%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
          i {
              background: linear-gradient(90deg, #7496FF 0%, #5DD7D0 99.81%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
              display: flex;
      align-items: center;
      padding: 10px;
          }
        }
    
        .term-category {
            position: absolute;
            left: 0;
            top: 117%;
            width: 178px;
            display: none;
            flex-direction: column;
            border: 10px solid;
      border-image-slice: 1;
      border-width: 1px;
      border-image-source: linear-gradient(to left, #5DD7D0, #7496FF);
      z-index: 999;
      .term-item {
          margin: 10px auto;
          width: 157px;
          display: flex;
          justify-content: center;
        border: solid 1px transparent;
        border-radius: 10px;
        background-image: linear-gradient(#0E1643, #0E1643), radial-gradient(circle at top left, #7496FF, #5DD7D0);
        background-origin: border-box;
        background-clip: content-box, border-box;
        h2 {
            padding: 5px;
          font-family: 'K2D';
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 28px;
          background: linear-gradient(90deg, #7496FF 0%, #5DD7D0 99.81%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
      .term-item.active{
        background-image: linear-gradient(#7496FF, #5DD7D0), radial-gradient(circle at top left, #7496FF, #5DD7D0);
        h2 {
            background: -webkit-linear-gradient(#0E1643, #0E1643);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
        }
      }
        }
    }
    
    .container-item {
        max-width: 1298px;
        margin: 0 auto;
        display: block;
        .item-main {
            width: 100%;
    
            .img-avt {
                position: relative;
    
                .img-avt-main {
                    width: 280px;
                    height: 280px;
                    object-fit: cover;
                }
    
                .frame-img-main {
                    position: absolute;
                    top: -12%;
                    left: -5%;
                }
    
                .arrow {
                    position: absolute;
                    top: 30%;
                    left: 73%;
                }
            }
    
            .name-avt-main {
                font-family: 'K2D';
                font-style: normal;
                font-weight: 600;
                padding-bottom: 76px;
                display: flex;
                align-items: center;
                text-align: center;
                    font-size: 32px;
                line-height: 42px;
                color: #FFFFFF;
            }
        }
    
        .category-member-item {
            margin-top: 70px;
    
            .avt-member-item {
                .frame-member-avt {
                    .member-avt{
                        border: 1px solid #F5A623;
                    border-radius: 50%;
                    padding: 5px;
                        width: 260px;
                        height: 260px;
                        object-fit: contain;
                    }
                }
    
                .name-member-item {
                    font-family: 'K2D';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 42px;
    
                    h1 {
                        font-size: 32px;
                line-height: 42px;
                    }
                    color: #FFFFFF;
                }
            }
        }
    }
    .introduce-title {
        margin: 0 auto !important;
        margin-top: 130px !important;
        h2 {
            font-family: 'K2D';
            font-style: normal;
            font-weight: 600;
            font-size: 45px;
            line-height: 60px;
            /* or 133% */
            text-align: center;
            justify-content: center;
            
            /* Text/Heading 2 */
            
            color: #F5A623;
        }
    }
    .introduce-content {
        margin: 0 auto !important;
        font-family: 'K2D';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    /* or 175% */
    
    text-align: justify;
    
    color: #FFFFFF;
    }
    .container-content-introduce {
        margin: 70px auto 0 !important;
        display: flex !important;
        .task-of-clb {
            position: relative;
            padding-top: 88px;
            padding-left: 42px;
            h2 {
                font-family: 'K2D';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    /* or 131% */
    
    display: flex;
    align-items: center;
    
    /* Text/Heading 2 */
    
    color: #F5A623;
            }
            ul {
                font-family: 'K2D';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #FFFFFF;
            }
            .frame-task {
              position: absolute;
              top: -1%;
        left: -1%;
            }
        }
        .position-required {
            position: relative;
            padding-left: 30px;
            padding-top: 20px;
            h2 {
                font-family: 'K2D';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    
    color: #F5A623;
            }
            ul {
                font-family: 'K2D';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #FFFFFF;
            }
            .frame-position {
                position: absolute;
                top: -1%;
                left: 3%;
            }
        }
    }
    .container-benefit{
        margin: 70px auto 0 !important;
        position: relative;
        display: flex !important;
        .container-benefit-content {
            padding-left: 30px;
            padding-top: 30px;
            .title-benefit {
                h2 {
                    font-family: 'K2D';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #F5A623;
                }
            }
            .benefit-content{
                font-family: 'K2D';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #FFFFFF;
            }
        }
        .frame-benefit {
            position: absolute;
            left: -19px;
        }
    }
}

.introduce {
    width: calc(100% - 32px);
    margin-top: 67px;
    margin: 0 auto;

    .introduce-title {
        h2 {
            margin-top: 67px;
            color: #F5A623;
            justify-content: center;
            text-align: center;

            font-family: K2D;
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;


        }
    }

    .introduce-desc {
        p {
            color: #fff;
            margin-top: 33px;
            margin-bottom: 100px;
            justify-content: center;
            text-align: justify;
            font-family: Open Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;

        }
    }
}

.container {
    width: calc(100% - 10px);
    margin: 0 auto !important;
    position: relative;

    .frame-cover-1-main {
        width: calc(100% - 15px);
        position: absolute;
        top: -65px;
        left: 7px;
        @media (min-width: 1200px) {
            width: 420px;
            top: -81px;
            left: 2px;
        }
        img {
            width: 100%;
           
        }
    }

    .frame-cover-2-main {
        width: calc(100% - 47px);
        position: absolute;
        top: -28px;
        left: 19px;
        @media (min-width: 1200px) {
            width: 383px;
            top: -41px;
    left: 19px;
        }
        img {
            width: 100%;
            
        }
    }

    .frame-cover-second {
        width: calc(100% - 15px);
        position: absolute;
        top: 294px;
        left: 10px;
        @media (min-width: 1200px) {
            width: 500px;
            top: 100%;
    left: 0;
        }
        img {
            width: 100%;
            
        }
    }

    .container-task-clb-item {
        .task-clb {
            h3 {
                color: #F5A623;
                font-family: K2D;
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;

            }
        }

        .task-category {
            color: #fff;

            li {
                font-size: 16px;
                line-height: 30px;
                ;
            }
        }
    }

    .container-requirement-position-item {
        margin-top: 90px;

        @media (min-width: 1200px) {
            margin-top: 0;
        }

        .requirement-position {
            h3 {
                color: #F5A623;
                font-family: K2D;
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;

            }
        }

        .position-category {
            color: #fff;

            li {
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;

            }
        }
    }
}

.container-benefit-mobile {
    width: calc(100% - 10px);
    padding: 0 24px;
    margin: 0 auto !important;
    position: relative;

    .benefit-title-mobile {
        margin-top: 90px;

        h3 {
            color: #F5A623;
            font-family: K2D;
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;

        }
    }

    .benefit-category-mobile {
        li {
            color: #fff;
            font-family: Open Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;

        }
    }

    .frame-cover {
        position: absolute;
        width: calc(100% - 7px);
        left: 6px;
        top: 80px;

        img {
            width: 100%;
            height: 637px;
        }
    }
}

.activity-title {
    margin: 0 auto !important;

    h2 {
        margin-top: 60px;
        margin-bottom: 30px;
        color: #fff;
        justify-content: center;
        text-align: center;

        font-family: K2D;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
    @media (min-width: 1200px) {
        font-size: 60px;
line-height: 80px;
    }
         @media (min-width: 391px) and ( max-width: 576px) {
            margin-top: 97px;
         }
    }
}

.end-content {
    width: calc(100% - 10px);
    margin: 0 auto;
    margin-top: 60px !important;

    h1 {
        text-align: center;
        justify-content: center;
        color: #F5A623;
        font-family: K2D;
        font-size: 24px;
        font-weight: 700;
        line-height: 31px;
        @media (min-width: 1200px) {
            font-weight: 600;
            font-size: 45px;
            line-height: 60px;
        }

    }
}

.category-member {
    width: calc(100% - 5px);
    margin: 0 auto !important;
    margin-top: 36px !important;
    
    .member,
    .old-member,
    .ctv {
        img {
            width: 70px;
            height: 60px;
            @media (min-width: 1200px) {
                width: 100px;
                height: 80px;
            }
        }

        p {
            margin-top: 15px;
            margin-bottom: 15px;
            font-family: K2D;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            background: -webkit-linear-gradient(#8093FF, #66FFE5);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @media (min-width: 1200px) {
                font-weight: 700;
font-size: 55px;
line-height: normal;
            }
        }

        h4 {
            font-family: K2D;
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;
            color: #fff;
            @media (min-width: 1200px) {
                font-weight: 400;
font-size: 38px;
line-height: 22px;
            }

        }
    }

   
       @media (max-width: 576px) {
           .ctv {
            padding-right: 0;
            padding-left: 38px;
           }
        .old-member {
            transform: translateX(33px);
            h4 {
                width: 130px;
                transform: translateX(-18px);
            }
        }
        .member {
            h4 {
                width: 90px;
                transform: translateX(-6px)
            }
        }
       }
   
}

.button-apply {
    width: fit-content;
    margin: 0 auto;
    margin-top: 60px !important;
    border: solid 1px transparent;
    border-radius: 10px;
    background-image: linear-gradient(#0E1643, #0E1643), radial-gradient(circle at top left, #7496FF, #5DD7D0);
    background-origin: border-box;
    background-clip: content-box, border-box;

    h6 {
        padding: 5px;
        font-family: K2D;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        @media (min-width: 1200px) {
            font-weight: 500;
font-size: 45px;
line-height: 60px;
        }
        background: -webkit-linear-gradient(#8093FF, #66FFE5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
}
