.videos-page {
    color:white;
    font-family: K2D !important;
    &__container {
        width: 1300px;
        margin:0 auto;
    }
    @media only screen and (max-width:500px) {
        &__container {
            width:500px;
            margin: 0 auto;
        }
    }
    &__tittle {
        p {
            text-transform: uppercase;
            font-size: 45px;
            font-weight: 600;
            margin-bottom: 0;
            text-align: center;
        }
        margin-bottom: 70px;
    }
    @media only screen and (max-width:500px) {
        &__tittle {
            p {
                font-size: 28px;
                font-weight: 700;
                padding: 0 50px;
            }
        }
    }
    &__hot-video {
        margin-top: 70px;
        border-bottom: 5px solid #252B50;
        .hot-video__name {
            font-size: 45px;
            font-weight:600;
            text-transform: uppercase;
            margin-bottom: 61px;
        }
        .hot-video__list {
            display:flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 60px;
        }    
    } 
    @media only screen and (max-width:500px) {
        &__hot-video {
            .hot-video__name {
                font-size: 28px;
                font-weight:700;
                margin-bottom: 30px;
                text-align: center;
            }
            .hot-video__list {
                flex-direction: column;
                align-items: center;
            }
        }
    }
    &__new-video {
        margin-top: 70px;
        border-bottom: 5px solid #252B50;
        .new-video__name {
            font-size: 45px;
            font-weight:600;
            text-transform: uppercase;
            margin-bottom: 61px;
        }
        .new-video__list {
            display:flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 60px;
        }
        .new-video__all {
            border:none;
            font-size:32px;
            font-weight:500;
            background-color: #F5A623;
            padding:10px 24px;
            border-radius:10px;
            display:block;
            margin: 0 auto 60px auto;
            outline:none;
            transition:0.3s;
            a {
                text-decoration: none;
                color:#0E1643;
            }
        } 
        .new-video__all:hover {
            background-color: #0E1643;
            box-shadow: 0px 0px 10px 2px #F5A623;
            a {
                color:#F5A623
            }
        }
        .new-video__all:active {
            a {
                color:#0E1643;
            }
            background-color: #F5A623;
            box-shadow:none;
        }
    }
    @media only screen and (max-width:500px) {
        &__new-video {
            .new-video__name {
                font-size: 28px;
                font-weight:700;
                margin-bottom: 30px;
                text-align: center;
            }
            .new-video__list {
                flex-direction: column;
                align-items: center;
                margin-bottom: 0;
            }
            .new-video__all {
                font-size: 20px;
                font-weight: 500;
                margin-bottom:30px;
            }
            .new-vide__all:hover {
                display:none;
            }
            .new-video__all:active {
                display:none;
            }
        }
    }
    &__string {
        margin-top: 60px;
        .string__head {
            display:flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 60px;
            .string__name {
                font-size: 45px;
                font-weight:600;
                text-transform: uppercase;
            }
            .string__option {
                background-color: #252B50;
                padding:12px 15px;
                border-radius:10px;
                .new {
                    border:none;
                    border-radius:10px;
                    background-color:#F5A623;
                    font-size:18px;
                    font-weight:600;
                    padding:10px 24px;
                    transition:0.3s;
                }
                .popular {
                    border: 1px solid #F5A623;
                    border-radius:10px;
                    color:#F5A623;
                    font-size:18px;
                    font-weight:600;
                    padding:10px 24px;
                    background-color: transparent;
                    transition:0.3s;
                }
                .new:hover, .popular:hover {
                    background-color: #0E1643;
                    color:#F5A623;
                    box-shadow: 0px 0px 8px 2px #F5A623;
                }
                .new:active, .popular:active {
                    background-color: #F5A623;
                    color:#0E1643;
                    box-shadow:none;
                }
            }
        }
        @media only screen and (max-width:500px) {
            .string__head {
                flex-direction: column;
                align-items: center;
                .string__name {
                    font-size: 28px;
                    font-weight:700;
                    margin-bottom: 30px;
                }
                .string__option {
                    padding:17px 26px;
                    .new {
                        margin-right: 15px;
                        font-size:16px;
                        font-weight: 500;
                        padding: 6px 16px;
                    }
                    .popular {
                        font-size: 16px;
                        font-weight: 500;
                        padding: 6px 16px;
                    }
                }
            }
        }
        .string__list {
            display:flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        @media only screen and (max-width:500px) {
            .string__list {
                flex-direction: column;
            }
        }
    }
}
