

            .timeline-time-up{
                margin-top: 24px;
                @media (min-width: 1200px) {
                    
                }
                h5 {
                    transition: transform .2s;
                    margin: 0 auto;
                    width: 79%;
                    font-family: 'K2D';
                    font-style: normal;
                    font-weight: 500;
font-size: 16px;
line-height: 22px;
                    color: #FFFFFF;
                    @media (min-width: 576px) {
                        width: 141px;
                    }
                    @media (min-width: 1200px) {
                        margin-top: 86px;
                        padding-left: 0px;
                        width: 259px;
                        font-weight: 600;
                        font-size: 32px;
                        line-height: 38px;
                    }
                }
            }
        .timeline-center-up {
            height: 80px;
            padding-left: 4px;
            transition: transform .2s;
            @media (min-width: 1200px) {
                height: 316px;
                padding-left: 0;
            }
            &__border {
                margin-top: 48px;
                width: 177.76px;
                border: 2px solid #F5A623;
                box-shadow: 10px 10px 10px rgba(245, 166, 35, 0.4);
                @media (max-width:392px) {
                    width: 167.76px;
                }
                @media (min-width: 576px) {
                    width: 354px;
                }
                @media (min-width: 1200px) {
                    margin-top: 195px;
                    width: 600px;
                }
            }
            &__img--mobile {
                position: absolute;
                top: 90px;
    right: 46%;
    @media (min-width: 576px) {
        right: 48%;
    }
                @media (min-width: 1200px) {
                    display: none;
                }
            }
            &__img--desktop {
                display: none;
                transition: transform .2s;
                @media (min-width: 1200px) {
                    position: absolute;
                    display: block;
                    top: 35%;
                    right: 46%;
                    img {
                        object-fit: cover;
                        width: 85px;
    height: 372px;
                    }
                }
            }
        }
        
        .timeline-title__up-ecommerce, .timeline-title__up-global1 ,.timeline-title__up-global2 {
              align-items: center;
              
            h5 {
                transition: transform .2s;
                font-family: 'K2D';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
@media (min-width: 1200px) {
    margin: 0 auto;

    padding-right: 38px;
    font-weight: 600;
font-size: 32px;
line-height: 38px;
padding-left: 6px;
}
            }
        }
        