.Contest__name {
    width: calc(100% - 32px);
    margin: 0 auto;
    margin-bottom: 45px;
    @media (min-width: 1200px) {
        width: calc( 100% - 50px);
    }
    h1 {

        font-family: 'K2D';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        @media (min-width: 1200px) {
            // justify-content: center;
            font-weight: 700;
             font-size: 60px;
             line-height: 80px;
       }
    }
}
.container__content {
    display: none;
}
.container__content--mobile {
    width: calc(100% - 38px);
    margin: 0 auto;
    margin-bottom: 60px;
    @media (min-width: 576px) {
        width: calc(100% - 100px);
    }
    .content__first--mobile {
        width: calc(100% - 15px);

        h6 {
            font-family: 'K2D';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            display: flex;
            align-items: center;
            text-align: justify;
            color: #FFFFFF;
        }
    }
    .content__img--mobile {
        width: 310px;
        margin: 40px auto;
        img {
            width: 310px;
            height: 450px;
            object-fit: cover;
            margin: 0 auto;
        }
        @media (min-width: 576px) {
            width: 650px; 
            height: 950px;
            img {
                width: 650px;
                height: 950px;
            }
        }
    }

    .content__second--mobile {
        width: calc(100% - 5px);

        h6 {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            text-align: justify;
            color: #FFFFFF;
        }
    }
}
@media (min-width: 1200px) {
    .container__content--mobile {
        display: none;
    }
    .container__content {
        display: block;
    }
    .container__content{
        width: 1303px;
        margin: 0 auto;
        position: relative;
            margin-bottom: 70px;
        .content__first{
          width: 100%;
          h1 {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 35px;
            display: flex;
            align-items: center;
            text-align: justify;
            color: #FFFFFF;
          }
        }
        .container__content-center{
            width: 100%;
            margin-top: 30px;
           .col-container__content{
               p {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 35px;
                text-align: justify;
                color: #FFFFFF;
               }

           }
        }
        .content__img {
            position: absolute;
            writing-mode: sideways-rl;
         width: 620px;
         height: 900px;
         inset: 177px 21px 57px 662px;
         .content__second {
             p {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 35px;
                text-align: justify;
                color: #FFFFFF;
             }
         }
            img {
             width: 620px;
             height: 900px;
             border-radius: 10px;
            }
        }
    }
}
.container__contest-timeline {
    width: calc(100% - 26px);
    @media (max-width:390px) {
        width: calc(100% - 48px);
    }
    margin: 0 auto !important;
    @media (min-width: 1200px) {
        width: 1257px;
    }
    .col-timeline-upper {
        position: relative;
        
        .timeline-title__up-ecommerce {
            display: block;
        }
        .timeline-title__up-global1 {
            display: none;
        }
        .timeline-title__up-global2 {
            display: none;
        }

    }
    .col-timeline-under{
           position: relative;
           .timeline-title__under-ecommerce {
            display: block;
        }
           .timeline-title__under-global1 {
            display: none;
        }
        .timeline-title__under-global2 {
            display: none;
        }

    }

}
.container__lookback {
    display: none;
}
.container__lookback--mobile {
    width: calc(100% - 32px);
    margin: 0 auto;
    display: block;
    .lookback__title--mobile {
        width: calc(100% - 10px) ;
        margin: 60px auto 30px;
        
        h2 {
            display: flex;
            justify-content: center;
            font-family: 'K2D';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
text-align: center;
        }
    }
    .lookback__img--mobile {
        width: calc(100% - 1px);
      margin-bottom: 30px;
      img {
          width: 100%;
          object-fit: cover;
          border-radius: 10px;
      }
    }
    .lookback__content--mobile{
        font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
display: flex;
align-items: center;
text-align: justify;
color: #FFFFFF;
    }
}
@media (min-width: 1200px) {
    .container__lookback--mobile {
        display: none;
    }
    .container__lookback {
        display: block
    }
    .container__lookback {
        width: calc(100% - 240px);
        margin: 0 auto;
        .lookback__title{
            h2 {
                margin-top: 70px;
                font-family: 'K2D';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    margin-bottom: 60px;
            }
        }
        .container__content-lookback{
            justify-content: space-around;
            .lookback__content{
                p {
                    font-family: 'K2D';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #FFFFFF;
                }
            }
            .lookback__img {
                img {
                    width: 640px;
                    height: 360px;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
        }
    }
    
}

