.Contest-global__name {
    width: calc(100% - 32px);
    margin: 0 auto;
    margin-bottom: 45px;
    @media (min-width: 1200px) {
         width: 1440px;
    }
    h1 {

        font-family: 'K2D';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        @media (min-width: 1200px) {
            // justify-content: center;
            font-weight: 700;
             font-size: 60px;
             line-height: 80px;
       }
    }
}
.container__content-global {
    display: none;
}
.container__content-global--mobile {
    width: calc(100% - 38px);
    margin: 0 auto;
    margin-bottom: 60px;
    .content__first-global--mobile {
        width: calc(100% - 15px);

        h6 {
            font-family: 'K2D';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-align: justify;
            color: #FFFFFF;
        }
    }
    .content__img-global--mobile {
        width: 310px;
        margin: 40px auto;
        img {
            width: 310px;
            height: 450px;
            margin: 0 auto;
        }
    }

    .content__second-global--mobile {
        width: calc(100% - 5px);

        h6 {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            text-align: justify;
            color: #FFFFFF;
        }
    }
}
@media (min-width: 1200px) {
    .container__content-global--mobile {
        display: none;
    }
    .container__content-global {
        display: block;
    }
    .container__content-global{
        width: 1303px;
        margin: 0 auto;
        position: relative;
            margin-bottom: 70px;
        .content__first-global{
          width: 100%;
          h1 {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            display: flex;
            align-items: center;
            text-align: justify;
            color: #FFFFFF;
          }
        }
        .container__content-center-global{
            width: 100%;
            margin-top: 30px;
           .col-container__content-global{
               p {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 25px;
                text-align: justify;
                color: #FFFFFF;
               }

           }
        }
        .content__img-global {
            position: absolute;
            writing-mode: sideways-rl;
         width: 620px;
         height: 900px;
         inset: 177px 21px 57px 662px;
            img {
             width: 620px;
             height: 900px;
            }
        }
    }
}
.container__contest-timeline-global {
    width: calc(100% - 26px);
    margin: 0 auto !important;
    @media (min-width: 1200px) {
        width: 1212px;
    }
    .col-timeline-upper-global {
        position: relative;
        &:first-child {
            .timeline-title__up-global1 {
                display: block;
            }
            .timeline-title__up-global2 {
                display: none;
            }
        }
        &:nth-child(3) {
            .timeline-title__up-global2 {
                display: block;
            }
            .timeline-title__up-global1 {
                display: none;
            }
        }
        .timeline-center-up {
            &__border{
                @media (min-width: 1200px) {
                    width: 283.27px;
                }
            }
            &__img--desktop {
                @media (min-width: 1200px) {
                    right: 42%;
                    
                    img {
                        width: 77px;
                        object-fit: cover;
                    }
                }
            }
        }
        .timeline-title__up-ecommerce {
            display: none;
        }
        .timeline-title__up-global1, .timeline-title__up-global2 {
            @media (min-width: 1200px) {
                h5 {
                    padding-right: 0px;
                }
            }
        }
        
    }
    .col-timeline-under-global {
        position: relative;
        &:nth-child(2){
            .timeline-title__under-global2 {
                display: none;
            }
            .timeline-title__under-global1 {
                display: block;
            }
        }
        &:nth-child(4){
            .timeline-title__under-global2 {
                display: block;
            }
            .timeline-title__under-global1 {
                display: none;
            }
        }
        .timeline-time-under {
            @media (min-width: 1200px) {
                margin-left: -57px;
                h5 {
                    padding-left: 29px;
                }
            }
        }
        .timeline-center-under {
            @media (min-width: 1200px) {
                padding-left: 0;
                float: none;
                height: 169px;
            }
            &__border{
                @media (min-width: 1200px) {
                    width: 283.27px;
                }
            }
            &__img--desktop {
                @media (min-width: 1200px) {
                    img {
                        width: 81px;
                        object-fit: cover;
                    }
                }
            }
        }
        .timeline-title__under-ecommerce {
            display: none;
        }
        .timeline-title__under-global1, .timeline-title__under-global2 {
            @media (min-width: 1200px) {
                margin-left: -76px;
                h5 {
                    width: 332px;
                    padding-left: 62px;
                }
            }
        }
    }
   
}
.container__lookback-global {
    display: none;
}
.container__lookback-global--mobile {
    width: calc(100% - 32px);
    margin: 0 auto;
    display: block;
    .lookback__title-global--mobile {
        width: calc(100% - 10px) ;
        margin: 60px auto 30px;
        
        h2 {
            display: flex;
            justify-content: center;
            font-family: 'K2D';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
        }
    }
    .lookback__img-global--mobile {
      width: 100%;
      margin-bottom: 30px;
      img {
          width: 100%;
          object-fit: cover;
          border-radius: 10px;
      }
    }
    .lookback__content-global--mobile{
        font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
display: flex;
align-items: center;
text-align: justify;
color: #FFFFFF;
    }
}
@media (min-width: 1200px) {
    .container__lookback-global--mobile {
        display: none;
    }
    .container__lookback-global {
        display: block
    }
    .container__lookback-global {
        width: calc(100% - 240px);
        margin: 0 auto;
        .lookback__title-global{
            h2 {
                margin-top: 70px;
                font-family: 'K2D';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    margin-bottom: 60px;
            }
        }
        .container__content-lookback-global{
            justify-content: space-around;
            .lookback__content-global{
                p {
                    font-family: 'K2D';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #FFFFFF;
                }
            }
            .lookback__img-global {
                img {
                    width: 640px;
                    height: 360px;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
        }
    }
    
}

