

            .timeline-time-under{
                h5 {
                    margin: 0 auto;
                    width: 142px;
                    font-family: 'K2D';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #FFFFFF;
                    padding-left: 29px;
                    @media (min-width: 1200px) {
                        padding-left: 13px;
                        width: 259px;
                        font-weight: 600;
                        font-size: 32px;
                        line-height: 38px;
                    }
                }
            }
        .timeline-center-under {
            height: 54px;
            padding-left: 4px;
            @media (min-width: 1200px) {
                height: 478px;
                padding-left: 28px;
                float: right;
            }
            &__border {
                margin-top: 72px;
                width: 177.76px;
                border: 2px solid #F5A623;
                box-shadow: 10px 10px 10px rgba(245, 166, 35, 0.4);
                @media (min-width: 1200px) {
                    width: 600px;
                    margin-top: 281px;
                }
                
            }
            &__img--mobile {
                position: absolute;
                top: -54px;
                right: 67px;
                @media (min-width: 1200px) {
                    display: none;
                }
            }
            &__img--desktop {
                display: none;
                @media (min-width: 1200px) {
                    position: absolute;
                    display: block;
                    top: 18%;
                    right: 41%;
                    img {
                        object-fit: cover;
                        width: 96px;
    height: 372px;
                    }
                }
            }
        }
        .timeline-title__under-ecommerce, .timeline-title__under-global1 ,.timeline-title__under-global2 {
            align-items: center;
            h5 {
                padding-left: 13px;
                font-family: 'K2D';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
@media (min-width: 1200px) {
    font-weight: 600;
font-size: 32px;
line-height: 38px;
padding-left: 19px;
margin: 0 auto;
}
            }
        }
    

