

            .timeline-time-under{
                h5 {
                    transition: transform .2s;
                    margin: 0 auto;
                    width: 68%;
                    font-family: 'K2D';
                    font-style: normal;
                    font-weight: 500;
font-size: 16px;
line-height: 22px;
                    color: #FFFFFF;
                    padding-left: 0;
                    @media (min-width: 576px) {
                        width: 141px;
                    }
                    @media (min-width: 1200px) {
                        padding-left: 13px;
                        width: 259px;
                        font-weight: 600;
                        font-size: 32px;
                        line-height: 38px;
                    }
                }
            }
        .timeline-center-under {
            transition: transform .2s;
            height: 133px;
            float: right;
            padding-left: 4px;
            @media (min-width: 1200px) {
                height: 478px;
                padding-left: 28px;
                float: right;
            }
            &__border {
                margin-top: 72px;
                width: 177.76px;
                border: 2px solid #F5A623;
                box-shadow: 10px 10px 10px rgba(245, 166, 35, 0.4);
                @media (max-width:392px) {
                    width: 167.76px;
                }
                @media (min-width: 576px) {
                    width: 354px;
                }
                @media (min-width: 1200px) {
                    width: 600px;
                    margin-top: 281px;
                }
                
            }
            &__img--mobile {
                position: absolute;
                top: 62px;
                right: 80px;
                @media (min-width: 576px) {
                    right: 174px;
                }
                @media (min-width: 1200px) {
                    display: none;
                }
            }
            &__img--desktop {
                display: none;
                @media (min-width: 1200px) {
                    position: absolute;
                    display: block;
                    top: 18%;
                    right: 41%;
                    img {
                        object-fit: cover;
                        width: 96px;
    height: 372px;
                    }
                }
            }
        }
        .timeline-title__under-ecommerce, .timeline-title__under-global1 ,.timeline-title__under-global2 {
            align-items: center;
            h5 {
                transition: transform .2s;
                padding-left: 13px;
                font-family: 'K2D';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
@media (min-width: 1200px) {
    font-weight: 600;
font-size: 32px;
line-height: 38px;
padding-left: 19px;
margin: 0 auto;
}
            }
        }
    
        .timeline-time-under:hover {
            transform: scale(1.2);
        }
        .timeline-time-under:hover ~ .timeline-center-under .timeline-center-under__img--desktop {
            transform: scale(1.2);
        }
        .timeline-time-under:hover ~ .timeline-title__under-ecommerce  {
            transform: scale(1.2);
        }
        .timeline-time-under:hover ~ .timeline-title__under-global1  {
            transform: scale(1.2);
        }
        .timeline-time-under:hover ~ .timeline-title__under-global2  {
            transform: scale(1.2);
        }
        .timeline-title__under-ecommerce:hover ~ .timeline-center-under .timeline-center-under__img--desktop {
            transform: scale(1.2);
        }
        .timeline-title__under-ecommerce:hover {
            transform: scale(1.2);
        }
        .timeline-title__under-ecommerce:hover ~ .timeline-time-under {
            transform: scale(1.2);
        }
        .timeline-title__under-global1:hover {
            transform: scale(1.2);
        }
        .timeline-title__under-global2:hover {
            transform: scale(1.2);
        }
        .timeline-center-under__img--desktop:hover {
            transform: scale(1.2);
        } 