*{
    margin: 0;
    padding: 0;
}
h1 {
    @include h1_style;
}
h2{
    @include h2_style;
}

.h2-style--yellow{
    @extend h2;
    color: #F5A623;
    margin-bottom: 30px;
    @media (min-width: 576px) {
        margin-bottom: 45px;
    }
    @media (min-width: 1200px) {
        margin-bottom: 60px;
    }
}

.container-fluid{
    z-index: 2;
    width: 90%;
    padding: 0 20px !important;
    @media (min-width: 576px) {
        padding: 0 50px !important;
    }
    @media (min-width: 1200px) {
        padding: 0 150px !important;
    }

    .row {
        .silver {
            margin-top: 86px;
            @media (min-width: 576px) {
                margin-top: 120px;
            }
            @media (min-width: 1200px) {
                margin-top: 180px;
            }
        }

        .silver.blur{
            filter: blur(10px);
        }

        .gold {
            margin-top: 30px;
            @media (min-width: 576px) {
                margin-top: 50px;
            }
            @media (min-width: 1200px) {
                margin-top: 60px;
            }
        }
        
        .gold.blur{
            filter: blur(10px);
        }

        .copper {
            margin-top: 120px;
            @media (min-width: 576px) {
                margin-top: 170px;
            }
            @media (min-width: 1200px) {
                margin-top: 300px;
            }
        }
        
        .copper.blur{
            filter: blur(10px);
        }
    }
}

.avatar.z-index {
    z-index: 10;
}

.name.z-index {
    z-index: 10;
}

.name {
    position: relative;
    z-index: 10;
    
    i {
        transform: rotate(-90deg);
        color: $white;
        cursor: pointer;
    }

    .arrow-1.rotate {
        transform: rotate(0deg);
    }

    &-info {
        display: none;
        position: absolute;
        background: #3F3356;
        border: 3px solid #F5A623;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-top: 8%;
        left: -12%;
        
        .member {
            color: $white;

            &-name {
                font-size: 32px;
                margin: 36px 0 0 33px;
            }

            &-majors {
                font-size: 24px;
            }
            
            &-hyphen {
                margin: 0 8px;
                font-size: 24px;
            }
            
            &-year-school {
                font-size: 24px;
            }
        }

        &_detail:nth-child(1) {
            border-bottom: 2px solid #F5A623;
        }

        &_detail:nth-child(2) {
            border-bottom: 2px solid #F5A623;
        }

        &_detail {
            flex-direction: column;
            align-items: flex-start;

            .info {
                justify-content: flex-start;
                width: max-content;
                margin: 30px 60px 30px 33px;
            }
        }
    }

    &-info-1.display {
        display: block;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    transform: translate(5px, -70px);
    z-index: 1;
    object-fit: cover;
    @media (min-width: 576px) {
        transform: translate(5px, -100px);
    }
    @media (min-width: 1200px) {
        transform: translate(10px,-220px);
    }
}

.center.blur {
    filter: blur(10px);
}

.avatar:hover{
    box-shadow: 2px 2px 2px 0px  #00FFFFFC;
    border-radius: 50%;
    transform: scale(1.1);
}
.avatar {
    width: 95px;
    height: 95px;
    @media (min-width: 576px) {
        width: 220px;
        height: 220px;
    }
    @media (min-width: 1200px) {
        width: 325px;
        height: 325px;
    }
}
.partners {
    object-fit: cover;
    height: 70px;
    margin-top: 15px;
    padding: 0 10px;
    @media (min-width: 576px) {
        height: 85px;
        margin-top: 45px;
    }
    @media (min-width: 1200px) {
        margin-top: 60px;
        height: 100px;
    }
}
a{
    text-decoration: none !important;
}