@media screen and (min-width:1440px) {
    .desk__title {
        font-size: 40px;
        font-weight: 700;
        color:#F5A623;
        margin: 130px auto 0 auto;
        width:fit-content;
    }
    .desk__desc {
        font-family: "K2D";
        font-size: 20px;
        font-weight: 400;
        line-height: 35px;
        color:white;
        margin-top: 30px;
    }
    .desk__complex {
        display:flex;
        align-items: center;
        margin-top: 70px;
        .img {
            width:444px;
            img {
                width:100%;
                height:100%;
                object-fit: cover;
            }
        }
        .desk__mission {
            position:relative;
            ul {
                p {
                    font-family: "K2D";
                    font-weight: 600;
                    font-size: 32px;
                    color: #F5A623;
                }
                margin-left: 165px;
                position:relative;
                li {
                    font-family: "K2D";
                    font-weight: 400;
                    font-size: 20px;
                    color:white;
                    margin-left: 40px;
                }
            }    
        }
    }
    .desk__image {
        position:absolute;
        top:-80px;
        left:125px;
    }
}