.content {
    margin-top: 30px;
    @media only screen and (min-width:800px) {
        margin-top: 50px;
    }
}
.content-container {
    max-width:500px;
    margin:0 auto;
    position: relative;
    @media only screen and (min-width:800px) {
        max-width:800px;
    }
}
.chairman {
    display: flex;
    align-items: center;
    &__img {
        width:90px;
        height:90px;
        border-radius: 50%;
        border: 2px solid #F5A623;
        padding-top:3px;
        margin-left: 3.5%;
        z-index:1;
        @media only screen and (min-width:800px) {
            width:150px;
            height:150px;
        }
        img {
            width:80px;
            height:80px;
            margin:auto auto;
            display:block;
            @media only screen and (min-width:800px) {
                width:140px;
                height:140px;
            }
        }
    }
    &__info {
        display:flex;
        flex-direction: column;
        margin-left:auto;
        margin-right: auto;
        color:white;
        .position,.name {
            font-family: 'K2D';
            font-size: 20px;
            font-weight: 700;
            @media only screen and (min-width:800px) {
                font-size: 30px;
            }
        }
    }
}
.member {
    margin-top: 30px;
    display: flex;
    align-items: center;
    @media only screen and (min-width:800px) {
        margin-top: 50px;
    }
    &__img {
        width:90px;
        height:90px;
        border-radius: 50%;
        border: 2px solid #F5A623;
        padding-top:3px;
        margin-left: 26.4%;
        @media only screen and (min-width:800px) {
            width:150px;
            height:150px;
        }
        img {
            width:80px;
            height:80px;
            margin:auto auto;
            display:block;
            @media only screen and (min-width:800px) {
                width:140px;
                height:140px;
            }
        }
    }
    &__info {
        display:flex;
        flex-direction: column;
        margin-left:auto;
        margin-right: auto;
        color:white;
        text-align: center;
        .position, .name {
            font-family: "K2D";
            font-size: 18px;
            font-weight: 500;
            @media only screen and (min-width:800px) {
                font-size: 28px;
            }
        }
    }
}
.bar {
    position:absolute;
    margin-left: 12%;
    top:90px;
    @media only screen and (min-width:800px) {
        height:800px;
        top:120px;
        img {
            height:100%;
        }
    }
}