// html {
//     font-size: 62.5%;
// }
// body {
//     background-color: #0E1643;
//     box-sizing: border-box;
//     margin: 0 auto;
// }
@mixin name() {
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    color: #FFFFFF;
}
.container {
    width: 1440px;
    margin:0 auto;
}
.techconner {
    margin-top: 50px;
    &-name {
        @include name;
    }
    &-list {
        margin-top:60px;
        padding: 0 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-item {
        background-color: #15123C;
        width: 375px;
        height:541px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 3px solid #F5A623;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 21px 22px 20px 23px;
        transition: cubic-bezier(1, 0.82, 0.165, 1);
        position:relative;
        .ellipse {
            position:absolute;
            background-color: rgba(255, 255, 255, 0.15);
        }
        .ellipse1{
            width:198px;
            height:212px;
            top:27px;
            left:89px;
            filter:blur(60px);
        }
        .ellipse2{
            width:30px;
            height:30px;
            top:302px;
            left:50px;
            filter:blur(30px);
        }
        .ellipse3{
            width:50px;
            height:50px;
            top:463px;
            left:39px;
            filter: blur(50px);
        }
        .ellipse3{
            width:50px;
            height:50px;
            top:463px;
            left:306px;
            filter: blur(40px);
        }
    }
    &-photo img {
        width: 100%;
        height: 100%;
        transition: 0.3s ease-in;
    }
    &-item:hover {
        box-shadow: 10px 10px 10px rgba(245, 166, 35, 0.3);
    }

    &-title {
        font-weight: 600;
        font-size: 3.2rem;
        color: #FFFFFF;
        text-align:center;
    }
    &-desc{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 2.4rem;
        text-align: justify;
        color: #FFFFFF;
    }
    &-btn {
        background: #F5A623;
        width: 112px;
        height: 40px;
        box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        font-weight: 500;
        font-size: 18px;
        text-decoration: none;
        color: #3F3356;
        position: relative;
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 0 3px;
    }
    &-btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
    }
    &-btn:active {
        outline:none;
        transform: translateY(2px);
        box-shadow: 0 0.5px 10px rgba(0, 0, 0, .2);
    }
    &-btn::after {
        content: "";
        display:inline-block;
        height:100%;
        width:100%;
        position:absolute;
        top:0;
        left:0;
        border-radius:10px;
        z-index:-1;
        transition: all 1s;
        background-color: #F5A623;
    }
    &-btn:hover::after{
        transform: scaleX(1.4) scaleY(1.5);
        opacity:0;
    }
}
@media screen and (max-width: 428px) {
    .container {
        width:428px;
    }
    .techconner {
        &-list {
            flex-direction: column;
            margin: 80px auto;
            padding: 0;
        }
        &-item {
            margin-top: 30px;
        }
    }
}