@mixin name() {
    font-family: K2D;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    color: #FFFFFF;
}
.container {
    width: 1400px;
    margin:0 auto;
}
.thingking {
    margin-bottom: 100px;
    &-name {
        @include name;
        margin-top: 89px;
    }
    &-list {
        margin-top: 30px;
    }
    &-item {
        display: flex;
        flex-direction: column;
        width: 420px;
        height:300px;
        border: 3px solid #F5A623;
        border-radius: 10px;
        margin-left: 0px;
        background-color: #0E1643;
        margin-bottom: 30px;
    }
    &-quote {
        position:relative;
        top:-2%;
        left:-0.8%;
        width:20%;
    }
    &-desc {
        font-size: 18px;
        color:#FFFFFF;
        margin-top: 20px;
        padding: 0 48px;
    }
    &-detail {
        display: flex;
        padding: 0 48px;
        margin-top: 37px;
    }
    &-info {
        margin-left: 25px;
        .info-name {
            font-weight: 500;
            font-size: 24px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #F5A623;
        }
        .info-where {
            font-weight: 500;
            font-size: 18px;
            color: #FFFFFF;
            transition:cubic-bezier(1, 0.82, 0.165, 1);
        }
    }
    &-item:hover {
        box-shadow: 10px 10px 10px rgba(245, 166, 35, 0.3);
    }
    &-detail img {
        transition: 0.3s ease-in;
    }
    &-detail img:hover {
        transform: scale(1.2);
    }
}
.owl-theme .owl-dots .owl-dot span {
    background-color: #0E1643;
}
.owl-theme .owl-dots .owl-dot span {
    border: 2px solid #7496FF;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-image: linear-gradient(to right, #7496FF, #5DD7D0) !important;
}
.owl-theme .owl-dots .owl-dot.active span {
    width: 25px !important;
}

@media screen and (max-width: 600px) {
    .container {
        width: 390px;
    }
    .thingking {
        &-item {
            margin-top: 30px;
        }
        &-detail {
            margin-top: 17px;
        }
    }
}